<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いの方は、【ＰＲ枠】のリンクは全て削除禁止です。
加工後の削除も禁止させていただいております。
絶対に削除しないでお使いください。
ご不明な点は、http://www.s-hoshino.com/info.html、または、
http://www.megapx.com/info.htmlのフォームよりお問い合わせください。
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<title></title>



<meta name="Keywords" content="" />
<meta name="Description" content="" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/style.css"%}">
<link rel="stylesheet" href="{%static "/style1.css"%}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jq_dim.js'%}"></script>
<script type="text/javascript" src="{% static 'js/script.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.core.js'%}"></script>
</head>
<body>
<!--base start-->
<div id="base">
  <!--head start-->
  <div id="head">
    <h1 ></h1>
    
      <center>
        <div id="info">
        
        <strong id="info">室ナビ！</strong>
        </div>
        <div id="key">
         
        </div>
        </center>
       
    <ul id="h_list">
      <li><p>{{ user.username }}でログイン中です</p><br /></li>
    
    
    </ul>
    <div id="navi">
      <ul id="jsnavi">
        <li><a href="index2.html" class="toplevel">トップページ<br />
          <span>HOME</span></a></li>
          <li><a href="menu.html" class="toplevel">おすすめ<br />
            <span>Reccomendation</span></a></li>
        <li><strong>編集<br />
          <span>Edit</span></strong></li>
          <li><a href="pointuse.html" class="toplevel">ポイント<br />
            <span>Point</span></a></li>
          <li><a href="sample.html" class="toplevel">検索<br />
             <span>Staff</span></a>
             <ul>
             
             </ul>
           </li>
          <li><a href="{% url 'home:top' %}" class="toplevel">ログアウト</br>
            <span>logout</a></li>
            
          
      </ul>
    </div>
  </div>
  <!--/head end-->
  <!--main start-->
  <div id="main">
    <div id="pankuzu"><a href="index.html">トップページ</a>　＞　<strong>編集ページ</strong></div>
    <!--content start-->
    <h2>編集ページ<span>edit</span></h2>
    <div id="content">
    <p>店舗情報<br /></p>
          <h3>編集<span>edit</span></h3>     
      <div class="box_out">
        <div class="box_in">   
          
          <div class="menu_base">
            <table class="table_menu">
              <tr>
                <p>店舗情報を入力してください
                 
                <form class="" action="" method="post" enctype="multipart/form-data">
                    {{ form.as_p }}
                    {% csrf_token %}
                   
                 
                
                
                <p>店舗の場所</p>
                
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.783963001563!2d141.01501173803223!3d42.352172919433706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9fda17997f9b03%3A0xd1cadfc8b6d1a49f!2z44KE44GN44Go44KK44Gu5LiA5bmzIOS4reWztuacrOW6lw!5e0!3m2!1sja!2sjp!4v1668997662586!5m2!1sja!2sjp" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                
                <p>画像のアップロード
                  <input type="file" name="test" accept="image/*">
                  <button type = "button" >画像アップロード</button></p>
  
               
                
              </tr>
        
             
              
             <button type='submit' >登録</button>
             
             
            </form>
            
            </table>
          </div>
          
          <div class="to_top"><a href="#base">{% load static%}<img src="{% static 'img/to_top.gif'%}" alt="ページトップへ戻る" /></a></div>
        </div>
      </div>
    </div>
    <!--/content end-->
    <!--side start-->
    <div id="side">
      <div class="side_box">
        <div class="side_btn"><a href="contact.html">{% load static%} '<img src="{% static  'img/side_btn_df.jpg'%}" alt="お問い合わせ・ご予約はコチラ" /></a></div>
      </div>
      <h3>SITE MENU</h3>
      <div class="side_box">
        <div class="side_inbox">
          <ul>
            <li><a href="index.html">トップページ<br />
              <span>Home</span></a></li>
            <li><a href="menu.html">おすすめ<br />
              <span>Reccomendation</span></a></li>
            
            
              <li><a href="point.html">ポイント<br />
              <span>Point</span></a></li>
            
            <li><a href="sample.html">検索<br />
              <span>Search</span></a></li>
            <li><a href="{% url 'home:top' %}">ログアウト<br />
              <span>logout</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="side_box">
        <h3>NEWS</h3>
        <div class="side_inbox">
          <p><a href="#">今年流行の最新メニューを追加いたしました！</a><span class="chui">NEW!</span></p>
          <p><a href="#">お得なキャンペーン実施中です！</a></p>
        </div>
        <div class="side_prbox">
<!--　削除禁止【ＰＲ枠】ここから　-->
<!--prno.130321ver2.01set016-->
Design by <a href="http://www.megapx.com/" target="_blank">Megapx</a><br />
Template by <a href="http://www.s-hoshino.com/" target="_blank">s-hoshino.com</a>
<!--　/削除禁止【ＰＲ枠】ここまで　-->
        </div>
      </div>
    </div>
    <!--/side end-->
  </div>
  <!--/main end-->
</div>
<!--/base end-->
<!--footer start-->
<div id="foot_base">
<div id="foot">
    <ul id="f_ul01">
      <li><a href="index.html">トップページ</a></li>
      <li><a href="menu.html">おすすめ</a></li>
      <li><a href="Point.html">ポイント</a></li>
     
      <li><a href="sample.html">検索</a></li>
      <li><a href="{% url 'home:top' %}">ログアウト</a></li>
    </ul>
    
    <div id="f_logo">室ナビ！</div>
    <p>〒050-0071　北海道室蘭市水元町27-1<br />
      TEL:0143-46-8585</p>
  </div>
  
</div>
<!--/footer end-->
</body>
</html>



