<!DOCTYPE html>
<html lang="ja">

<head>
    <!--
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/style1.css"%}">-->
    <meta charset="UTF-8">
    <title>Member's Point</title>
</head>

<header>
    <center>
        <h1>ポイント付与</h1>
    </center>
<style>
    header {
        position: fixed;
        color: white;
        width: 100%;
        height: 70px;
        background-color: #444444;
        }
</style>
</header>
<br>
<br>
<br>

<body>
    <div>
        <big>
            <p align = center > 100ポイント付与しました
            <big> 
            <big>  
                <p align = center >現在のポイント数:<font color = blue>{{user.point}}</font></p>
            </big>
            </big>

            <p><a href={%url 'home:point'%}>ポイントページに戻る</a></p>
            <p><a href="index2.html">トップページへ戻る</a></p>
        </big>

    </div>
</body>

</html>